.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2f2626;
    color:#c5aa6a;
    font-weight: 900;
}

.logo{
    font-family: 'Brush Script MT', cursive;
}
@media (max-width: 800px)  {
    .nav{
        flex-direction: column;
    }
  }